.home {
    background-color: #1abc9c;
    z-index: -2;
    position: relative;
    padding: 70px 0 0 0;
}

.img {
    width: 20%
}

.icone {
    position: relative;
    padding: 15px;
    background-color: #1abc9c;
    border-radius: 50%;


}

.icone i::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 400%;
    left:-150%;
    top: 50%;
    z-index: -1;
    background-color: white;

}