.about{
    background-color: #1abc9c;
    height: 100vh;
    z-index: -2;
    position: relative;
    padding: 70px 0 0 0;
}
.icone {
    position: relative;
    padding: 15px;
    background-color: #1abc9c;
    border-radius: 50%;
    width: fit-content;
    left: 45%;
    



}

.icone i::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 400%;
    left:-150%;
    top: 50%;
    z-index: -1;
    background-color: white;

}